body {font-family: 'Tahoma', sans-serif;background: #820006;font-size: 15px;}
.contant-wrapper {background: #fff;}
a, a:hover {text-decoration: none;}
/* header CSS  */
.sub-heading {font-size: 19px; color: #80020a;font-weight: 900;margin:0;text-transform: uppercase;letter-spacing: 1.5px;}
.main-menu {    border-bottom: 4px solid #80020a;}
.main-menu .menu-list {max-height: 0;transition: max-height .2s ease-out;margin: 0; padding: 0; list-style: none; overflow: hidden; background-color: #fff;}
.main-menu li a {display: block;}
/* menu icon */
.main-menu .menu-icon {cursor: pointer; display: inline-block; margin: 0; padding: 15px 15px; position: relative; user-select: none;}
.main-menu .menu-icon .navicon {background: #820006; display: block; height: 3px; position: relative; transition: background .2s ease-out; width: 30px;}
.main-menu .menu-icon .navicon:before,
.main-menu .menu-icon .navicon:after { background: #820006;content: '';display: block; height: 100%;position: absolute;transition: all .2s ease-out;width: 100%;}
.main-menu .menu-icon .navicon:before {top: 7px;}
.main-menu .menu-icon .navicon:after {top: -7px;}
/* menu btn */
.main-menu .menu-btn {display: none;}
.main-menu .menu-btn:checked ~ .menu-list { max-height: 240px;}
.main-menu .menu-btn:checked ~ .menu-icon .navicon {background: transparent;}
.main-menu .menu-btn:checked ~ .menu-icon .navicon:before { transform: rotate(-45deg);}
.main-menu .menu-btn:checked ~ .menu-icon .navicon:after {transform: rotate(45deg);}
.main-menu .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.main-menu .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {top: 0;}

.inquiry_wrap {background: url(../images/call_now_bg_new.jpg) no-repeat;background-size: cover;padding: 15px 15px;}
.inquiry-t1 {font-size: 38px; margin: 0; color: #f9cc17; text-transform: uppercase; line-height: 1; margin-top: 26px;}
.inquiry-t2 {font-size: 28px; margin: 0; color: #fff; text-transform: uppercase; line-height: 1; margin-top: 21px;}
.inquiry-t3 {font-size: 51px; margin: 0; color: #fff; text-transform: capitalize; line-height: 1; margin-top: 28px;}
.inquiry-t3 span {display: block;font-size: 56px;}
.orng_link {color: #ff6600;}
.hr_4 {border-top: 4px solid  #820006;}
.own-title {font-size: 17px;color: #4f4f4f;margin: 15px 0;letter-spacing: 1px;}
.title-rate {font-family: Arial;font-size: 22px;color: #eb7206;font-weight: 700;}
.title-hour {font-size: 22px;color: #820006;font-weight: 900;letter-spacing: 1px;}
.own-title.sm {font-size: 15px;}
.site-footer {padding-bottom: 6px;}
.cc_images {max-height: 45px;}
.bbb_img {max-height: 35px;}
.list-disc-item {list-style-type: none;padding: 0 0 0 15px;}
.list-disc-item li {position: relative;padding-left: 20px;    margin-bottom: 2px;}
.list-disc-item li::before {content: "";position: absolute;left: 0;width: 5px;height: 5px;border-radius: 50%;background:#820006;top:10px; }
.menu-footer-menu-container #menu-footer-menu{margin:0px; padding:0px;}
.footer-link li{display:inline-block; list-style:none; position:relative; padding:0 10px;}
.footer-link li:before{height: 14px; width: 1px; background: #820006; position: absolute; left: -2px; top: 5px; content: " ";}
.footer-link li:first-child:before{display:none;}
.footer-link li:first-child{padding-left:0px;}
.footer-link a{font-size: 14px;color: #820006;text-decoration: none;}
.v_devider {display: inline-block;margin: 0 5px;    font-size: 14px;color: #820006;}
.sub_btn {border: none; background: #820006; font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #FFFFFF; font-weight: bold; padding: 7px 20px;}


@media screen and (min-width: 1400px) {
	.container {max-width: 1350px;}
	.contant-wrapper {padding-left: 30px;padding-right: 30px;}
}
@media screen and (min-width: 768px) {
  .main-menu li a {padding: 8px 25px; background: #e97005; border-right: 1px solid #fff; color: #fff; font-size: 13px; font-weight: 600; letter-spacing: 1.5px; text-decoration: none; 
  	border-top-left-radius: 6px; border-top-right-radius: 6px;}
  .main-menu li.active a {background: #80020a;}
  .main-menu .menu-list {max-height: none;display: flex;justify-content: center;}
  .main-menu .menu-icon {display: none;}
}
@media screen and (max-width: 991px) {
	.site-footer, .footer-link, .footer-social, .site-footer .text-right {text-align: center !important;}
	.footer-social {margin: 10px 0 ;}
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
	.inquiry-t1 {font-size: 34px;}
	.inquiry-t2 {margin-top: 15px;font-size: 25px;}
	.inquiry-t3 {font-size: 40px;}
	.inquiry-t3 span {font-size: 45px;}
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
	.inquiry-t1 {font-size: 29px;}
	.inquiry-t2 {margin-top: 15px;font-size: 22px;}
	.inquiry-t3 {font-size: 32px;}
	.inquiry-t3 span {font-size: 40px;}
}
@media screen and (min-width: 768px) and (max-width: 991px) {
	.inquiry-t1 {font-size: 24px;}
	.inquiry-t2 {margin-top: 15px;font-size: 20px;}
	.inquiry-t3 {font-size: 27px;}
	.inquiry-t3 span {font-size: 29px;}
}
@media screen and (max-width: 767px) {
	.logo-image {max-width: 100%;}
	.main-menu {    text-align: center;}
	.main-menu .menu-list {position: absolute; width: 100%; left: 0; ;z-index: 2;}
	.menu-list li {background: #e97005; margin: 2px 0;}
	.menu-list li:first-child {margin-top: 0;}
	.menu-list li:last-child {margin-bottom: 0;}
	.menu-list li a {display: block; padding: 8px 15px; font-size: 15px; color: #fff; font-weight: 600; letter-spacing: 1px;}
	.inquiry-t1 {    font-size: 36px;}
	.inquiry-t3 {font-size: 34px;}
	.inquiry-t3 span {font-size: 42px;}
	.cc_images {    max-height: 40px;}
	.bbb_img {max-height: 31px;}
	.footer-link a {display: block;width: 100%;margin: 5px 0;}
	.v_devider {display: none;}
	.inquiry-form input[type="text"] {width: 100%;}


	.main-menu .menu-btn:checked~.menu-main-menu-container .menu-list{
		max-height: 100%;
	  }

}




