@charset "utf-8";
/* CSS Document */

body
{
	margin:0px;
	padding:0px;
	background:#820006;
}

.blck_11
{
	font-family:Tahoma;
	font-size:16px;
	color:#333333;
	text-decoration:none;
	line-height:24px;
}

.blck_10
{
	font-family:Tahoma;
	font-size:16px;
	color:#333333;
	border:6px solid #FFFFFF;
	text-decoration:none;
	line-height:24px;
}

.orng_11
{
	font-family:Tahoma;
	font-size:16px;
	color:#ff6600;
	text-decoration:none;
}

.gray_14
{
	font-family:Arial;
	font-size:15px;
	color:#4f4f4f;
	text-decoration:none;
	font-style: normal;
	font-weight: normal;
}
.gray_12
{
	font-family:Arial;
	font-size:12px;
	color:#4f4f4f;
	text-decoration:none;
	font-style: normal;
	font-weight: bold;
}
.brwn_14
{
	font-family:Arial;
	font-size:16px;
	color:#990000;
	text-decoration:none;
}

.gray_18
{
	font-family:Arial;
	font-size:18px;
	color:#4f4f4f;
	text-decoration:none;
}

.brwn_22
{
	font-family:Tahoma;
	font-size:22px;
	color:#820006;
	text-decoration:none;
}

.brwn_11_footer
{
	font-family:Tahoma;
	font-size:14px;
	color:#820006;
	text-decoration:none;
}

.orng_24
{
	font-family:Arial;
	font-size:22px;
	color:#eb7206;
	text-decoration:none;
}

.brwn_18
{
	font-family:Arial;
	font-size:18px;
	color:#990000;
	text-decoration:none;
}

.orng_18
{
	font-family:Arial;
	font-size:18px;
	color:#ff6600;
	text-decoration:none;
}
.orng_14
{
	font-family:Arial;
	font-size:16px;
	color:#ff6600;
	text-decoration:none;
}
.gray_15
{
	font-family:Arial;
	font-size:15px;
	color:#4f4f4f;
	text-decoration:none;
}
.blue_15
{
	font-family:Arial;
	font-size:15px;
	color:#0000CC;
	text-decoration:none;
}
a.blue_15:hover {
	color:#4f4f4f;
}
.con_input
{
	width:180px;
	height:18px;
	border:1px solid #4f4f4f;
}

.con_input2
{
	width:280px;
	height:90px;
	border:1px solid #4f4f4f;
}

.sub_btn
{
	width:50px;
	height:20px;
	border:none;
	background:#820006;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#FFFFFF;
	font-weight:bold;
}
h1
{
	font-family:Tahoma;
	font-size:19px;
	color:#80020a;
	text-decoration:none;
	line-height:normal;
	font-weight: bold;
	padding:0;
	margin:0;
	text-transform: uppercase;
}